	<%= form_for([@post, @post.comments.build]) do |f| %>
		<p>
			<%= f.label :author %>
			<%= f.text_field :author %>
		</p>

		<p>
			<%= f.label :text %>
			<%= f.text_area :text %>
		</p>

		<p>
			<%= f.submit %>
		</p>
	<% end %>