<p>
	<% if logged_in? %>
	You are logged in as <%= current_user.openid_identity %>. <%= link_to "Logout", session_path, method: 'delete' %>
	<% else %>
	You are not logged in. <%= link_to "Login", new_session_path %>
	<% end %>
</p>

<h1>All posts</h1>

<%= link_to "Create new post", new_post_path %>

<ul>
	<% @posts.each do |post| %>
		<li><%= link_to post.title, post_path(post) %> (<%= link_to "edit", edit_post_path(post) %>)</li>
	<% end %>
</ul>