<h1><%= @post.title %></h1>

<blockquote class="post">
<%= markdown @post.text %>
</blockquote>

<% if @post.comments.any? then %>
	<h2>Comments</h2>

	<% # equivalent to  @post.comments.each do |comment| { ... render fields ... } %>
	<%= render @post.comments %>
<% end %>

<% if @post.allow_comments then %>
	<h2>Add a comment</h2>

	<%= render "comments/form" %>
<% else %>
	<h2>Comments are disabled</h2>
<% end %>

<p>
Created <abbr title="<%= h(@post.created_at) %>"><%= time_ago_in_words(@post.created_at) %> ago</abbr>,
comments are <%= @post.allow_comments ? "allowed" : "not allowed" %>
</p>

<%= link_to "See all posts", posts_path %>
- <%= link_to "Edit", edit_post_path(@post) %>
- <%= link_to "Delete", post_path(@post), method: 'delete', data: { confirm: 'Are you sure you want to delete this post?' } %>
