<h1><%= @post.title %></h1>

<blockquote>
<%= @post.text %>
</blockquote>

<p>
Created <%= @post.created_at %>,
comments are <%= @post.allow_comments ? "allowed" : "not allowed" %>
</p>

<%= link_to "See all posts", posts_path %>
- <%= link_to "Edit", edit_post_path(@post) %>
