<h1><%= @post.title %></h1>

<blockquote>
<%= @post.text %>
</blockquote>

<% if @post.comments.any? then %>
	<h2>Comments</h2>

	<% @post.comments.each do |comment| %>
	<p>
		<b><%= comment.author %>:</b> <%= comment.text %>
		(<abbr title="<%= h(comment.created_at) %>"><%= time_ago_in_words(comment.created_at) %> ago</abbr>)
	</p>
	<% end %>
<% end %>

<% if @post.allow_comments then %>
	<h2>Add a comment</h2>

	<%= form_for([@post, @post.comments.build]) do |f| %>
		<p>
			<%= f.label :author %>
			<%= f.text_field :author %>
		</p>

		<p>
			<%= f.label :text %>
			<%= f.text_area :text %>
		</p>

		<p>
			<%= f.submit %>
		</p>
	<% end %>
<% else %>
	<h2>Comments are disabled</h2>
<% end %>

<p>
Created <abbr title="<%= h(@post.created_at) %>"><%= time_ago_in_words(@post.created_at) %> ago</abbr>,
comments are <%= @post.allow_comments ? "allowed" : "not allowed" %>
</p>

<%= link_to "See all posts", posts_path %>
- <%= link_to "Edit", edit_post_path(@post) %>
- <%= link_to "Delete", post_path(@post), method: 'delete', data: { confirm: 'Are you sure you want to delete this post?' } %>
